<h1>Dashboard</h1>
<div>
  <span [ngSwitch]="activeAccounts">
    <p *ngSwitchCase="0">
        No active accounts costing {{price}}kr
    </p>
    <p *ngSwitchCase="1">
        1 active account costing {{price}}kr
    </p>
    <p *ngSwitchDefault>
        {{activeAccounts}} active accounts costing {{price}}kr
    </p>
  </span>
</div>

<div class="input-group input-group-md">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-md">Search</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-md">
</div>

<div *ngFor="let item of accounts">
  <app-accountentry [account]="item" ></app-accountentry>
</div>
